<h1>Seja bem-vindo</h1>
<p>Sua aplicação Rails está no idioma: <strong> <%= locale %></strong> </p>
<p><strong>Data: </strong> <%= l(Date.today) %> </p>
<p><strong> Horas: </strong><%= l(Time.now) %></p>

<%= render "menu" %>

<p>
Você está em um ambiente de <strong> <%= ambiente_rails %> </strong> 
</p>