<p id="notice"><%= notice %></p>

<h1><%= "#{MiningType.model_name.human(count: @mining_types.count)}"%></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @mining_types.human_attribute_name(:description) %></th>
      <th><%=@mining_types.human_attribute_name(:acronym)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td><%= mining_type.description %></td>
        <td><%= mining_type.acronym %></td>
        <td><%= link_to t('links.show'), mining_type, class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to t('links.edit'), edit_mining_type_path(mining_type), class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to t('links.delete'), mining_type, method: :delete, data: { confirm: t('confirm') }, class:"btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('titles.new_mining'), new_mining_type_path, class:"btn btn-primary btn-sm" %>
<%= link_to t('edit_mining.back'), root_path, class:"btn btn-primary btn-sm" %>
